{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm, {'attr': {'class': 'border border-light p-5'} }) }}
    <h1 class="text-center h3 mb-3 font-weight-normal">Sign up</h1>

    {{ form_end(registrationForm) }}
    


{% endblock %}
